body{
  margin:0;
  text-align: center;
  font-family: 'Merriweather',serif;
}
h1{
  color: #66BFBF;
  font-size: 5.625rem;
  line-height:1;
margin: 50px auto 0 auto;
font-family: 'Sacramento', cursive;
}
h2{
  font-weight: normal;
  color: #66BFBF;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
}
h3{
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
}
a{
  color:#11999E;
}
.topcontainer{
  background-color: #faeee7;
  position: relative;
  padding-top: 100px;
}
.bottomcl{
  position: absolute;
  left: 300px;
  bottom: 300px
}
.topcl{
  position: absolute;
  right: 300px;
  top: 50px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.skill1{
  float: left;
  width: 25%;
  margin-right: 30px;
}
.skill2{
  float:right;
  margin-right:30px;
  width: 25%;
}

.hii{
  width:15%;
}
p{
  line-height: 2;
  color:#40514E;
}
hr{border-style: none;
  border-top-style:dotted;
  border-color:grey;
  border-width: 5px;
  width:5%;
  margin: 100px auto;
}
  .footer-link{
    color: #11999E;
  }
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}
.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 0 0;

}
.middle-container {
  background-color:#faeee7;
  padding: 50px 0 0 0;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}



.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -webkit-gradient(top, #3D94F6, #1E62D0);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 80px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover
{
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -webkit-gradient(top, #3D94F6, #1E62D0);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.footer-link{
  color: gold;
}
